---
layout: default
---

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-lg-8 col-12">
            <section class="about section">
                <div class="section-inner shadow-sm rounded">
                    <h2 class="heading">About Me</h2>
                    <div class="content">
                        <p>
                        {% capture my_include %}{% include_relative about.md %}{% endcapture %}
                        {{ my_include | markdownify }}
                        </p>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

           <section class="latest section">
                <div class="section-inner shadow-sm rounded">
                    <h2 class="heading">Latest Publications</h2>
                    <div class="content">
                        {% for headline in site.data.headline.headline %}
                        <div class="item featured text-center">
                            <div class="featured-image has-ribbon">
                              <a href="{{headline.url}}" target="_blank"><img class="img-fluid project-image rounded shadow-sm"
                                src="{{headline.image}}" alt="{{headline.title}}" /></a>
                                <div class="ribbon">
                                    <div class="text">New</div>
                                </div>
                            </div>
                            <h3 class="title mb-3"><a href="{{headline.url}}" target="_blank">{{headline.title}}</a></h3>
                        </div><!--//item-->
                        {% endfor %}
                        <hr class="divider" />

                        {% for subheadline in site.data.headline.subheadline %}
                            <div class="item row">
                                <a class="col-md-4 col-12" href="{{subheadline.url}}" target="_blank">
                                <img class="img-fluid project-image rounded shadow-sm" src="{{subheadline.image}}" alt="{{subheadline.title}}" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a href="{{subheadline.url}}" target="_blank">{{subheadline.title}}</a></h3>
                                </div><!--//desc-->
                            </div><!--//item-->
                        {% endfor %}
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

        </div><!--//primary-->

        <div class="secondary col-lg-4 col-12">
             <aside class="info aside section">
                <div class="section-inner shadow-sm rounded">
                    <h2 class="heading">Information</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fas fa-map-marker-alt"></i><span
                                class="sr-only">Location:</span>{{ site.location }}</li>
                            <li><i class="fas fa-envelope"></i><span
                                class="sr-only">Email:</span>{{ site.email }}</li>
                            <li><i class="fas fa-file-alt"></i><span
                                class="sr-only">Resume:</span>  <a
                                href="assets/resume/st-onge_cv_en.pdf">Resume (EN)</a> <a href="assets/resume/st-onge_cv_fr.pdf">Resume (FR)</a></li>
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//aside-->

            <aside class="education aside section">
                <div class="section-inner shadow-sm rounded">
                    <h2 class="heading">Education</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> Ph.D. Physics</h3>
                            <h4 class="university">Université Laval <span class="year">(2018-2022)</span></h4>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> M.Sc. Physics</h3>
                            <h4 class="university">Université Laval <span class="year">(2015-2017)</span></h4>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> B.Sc. Physics</h3>
                            <h4 class="university">Université Laval <span class="year">(2012-2015)</span></h4>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="list conferences aside section">
                <div class="section-inner shadow-sm rounded">
                    <h2 class="heading">Upcoming events</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            {% for event in site.data.events %}
                              <li><i class="far fa-calendar-alt"></i> <a href="{{event.url}}">{{event.name}}</a>, {{event.date}}</li>
                            {% endfor %}
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->
