---
layout: default
title: Publications
---
<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-lg-12 col-12">
            <section class="theses section">
                <div class="section-inner shadow-sm rounded">
                    <h2 class="heading">Theses</h2>
                    <div class="content">
                         <ul class="publi-list">
                            {% for publi in site.data.publications.theses %}
                                {% include publi-view.html publi=pupli %}
                            {% endfor %}
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

            <section class="preprint section">
                <div class="section-inner shadow-sm rounded">
                    <h2 class="heading">Preprints</h2>
                    <div class="content">
                        <ul class="publi-list">
                            {% for publi in site.data.publications.preprints %}
                                {% include publi-view.html publi=pupli %}
                            {% endfor %}
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

            <section class="published section">
                <div class="section-inner shadow-sm rounded">
                    <h2 class="heading">Published articles</h2>
                    <div class="content">
                         <ul class="publi-list">
                            {% for publi in site.data.publications.articles %}
                                {% include publi-view.html publi=pupli %}
                            {% endfor %}
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

        </div><!--//primary-->
    </div>
</div><!--//masonry-->
