<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.name }}">
    <link rel="shortcut icon" href="{{"/favicon.ico" | prepend: site.baseurl }}">

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- FontAwesome JS -->
    <script defer src="{{ "/assets/fontawesome/js/all.js" |prepend: site.baseurl }}"></script>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ "/assets/plugins/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">

</head>
