<header class="header">
    <div class="container clearfix">
        <img class="profile-image img-fluid float-left rounded-circle" src="{{ "/assets/images/profile_picture.jpg" | prepend: site.baseurl }}" alt="profile image" />
        <div class="profile-content float-left">
            <h1 class="name">Guillaume St-Onge</h1>
            <h2 class="desc">Ph.D. candidate in physics</h2>
            <ul class="social list-inline">
                {% for social in site.social %}
                    {% if social.url != null %}
                        <li class="list-inline-item"><a href="{{ social.url }}"><i class="{{ social.icon }}"></i></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div><!--//profile-->
    </div><!--//container-->

    {% include navbar.html %}

</header><!--//header-->

